<header class="site-header">
  <div class="wrapper">

    <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon"><i class="fa fa-bars fa-lg"></i></a>

      <div class="trigger">
        <a class="page-link" href="{{ .Site.BaseURL }}">Posts</a>

        {{ range where .Site.Pages "Section" "page" }}
          <a class="page-link" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}

        <a class="page-link" href="{{ .Site.RSSLink }}">Subscribe</a>

      </div>
    </nav>

  </div>

</header>
