<header class="site-header">
  <div class="wrapper">

    <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon"><i class="fa fa-bars fa-lg"></i></a>

      <div class="trigger">
        <a class="page-link" href="{{ .Site.BaseURL }}">Posts</a>
        {{/*

        <a class="page-link" href="{{ .

        {{ $allowed_pages =  "about", "tags" }}
        {% for my_page in site.pages %}
          {% if allowed_pages contains my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
        */}}

        <a class="page-link" href="{{ .Site.RSSLink }}">Subscribe</a>

      </div>
    </nav>

  </div>

</header>
