{{ partial "head.html" . }}

{{ partial "header.html" . }}

<div class="page-content wrapper home">
  <h1 class="post-title" itemprop="name headline">Posts</h1>
  <ul class="post-list">
    {{ range where .Data.Pages "Section" "post" }}
      <li>
        <h2><a class="post-link" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
        <article>{{ .Summary }}</article>
        <div class="post-meta">
          <p>{{ .Date.Format "Jan 2, 2006" }}</p>
          <p>• <a href="{{ .Permalink }}#disqus_thread"></a></p>
          {{ partial "tag-list.html" . }}
        </div>
    {{ end }}
  </ul>
</div>

{{ partial "footer.html" . }}

{{ partial "foot.html" . }}
